services:
  app:
    env_file:
      - .env
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - 8086:80
    depends_on:
      db:
        condition: service_healthy
    volumes:
      - ./src:/var/www/html
  db:
    image: mysql:5.7
    environment:
      - MYSQL_USER=${APP_DATABASE_USER}
      - MYSQL_PASSWORD=${APP_DATABASE_PASSWORD}
      - MYSQL_DATABASE=${APP_DATABASE_NAME}
      - MYSQL_ROOT_PASSWORD=${APP_DATABASE_ROOT_PASSWORD}
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 10s
      timeout: 5s
      retries: 5
    volumes:
      - ./database.sql:/docker-entrypoint-initdb.d/database.sql
      - db-data:/var/lib/mysql:rw
  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    ports:
      - 8080:80
    depends_on:
      db:
        condition: service_healthy
    environment:
      PMA_HOST: db
volumes:
  db-data: null
