services:
  app:
    build: .
    ports:
      - 8086:80
    depends_on:
      db:
        condition: service_healthy
    volumes:
      - ./src:/var/www/html
    environment:
      - MYSQL_DATABASE=bookstore

  db:
    image: mysql:5.7
    environment:
      - MYSQL_DATABASE=bookstore
      - MYSQL_ALLOW_EMPTY_PASSWORD=yes
    volumes:
      - db-data:/var/lib/mysql:rw
      - ./database.sql:/docker-entrypoint-initdb.d/init.sql
    command: --default-authentication-plugin=mysql_native_password
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  db-data:
